@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'TWKLausanne';
    src: url('/fonts/TWKLausanne-50.otf') format('opentype');
    font-weight: 50;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'TWKLausanne';
    src: url('/fonts/TWKLausanne-100.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: 'TWKLausanne';
    src: url('/fonts/TWKLausanne-200.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: 'TWKLausanne';
    src: url('/fonts/TWKLausanne-300.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }


  @font-face {
    font-family: 'TWKLausanne';
    src: url('/fonts/TWKLausanne-400.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'TWKLausanne';
    src: url('/fonts/TWKLausanne-500.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'TWKLausanne';
    src: url('/fonts/TWKLausanne-600.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'TWKLausanne';
    src: url('/fonts/TWKLausanne-700.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'TWKLausanne';
    src: url('/fonts/TWKLausanne-800.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: 'TWKLausanne';
    src: url('/fonts/TWKLausanne-900.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: 'TWKLausanne';
    src: url('/fonts/TWKLausanne-1000.otf') format('opentype');
    font-weight: 1000;
    font-style: normal;
  }





  html {
    font-family: "TWKLausanne", system-ui, sans-serif;
  }
  
}




:root {
 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

